<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Actuators</h2>
		<h3> Status </h3>
		     RED LED ==>  {{ ledRed  }}
		<br>
		<h3> Commands </h3>
			UP ==> 
			<a href="Up" class="button">TURN ON</a>  
			
			<h4>DOWN ==> 
			<a href="Down" class="button">TURN ON</a>  
			
			</h4>
			<h4>LEFT ==> 
			<a href="Left" class="button">TURN ON</a>  
			
			</h4>
			<h4>RIGHT ==> 
			<a href="Right" class="button">TURN ON</a>  
			
			</h4>
   </body>
</html>