<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Actuators</h2>
		<h3> Status </h3>
		    Xpos ==>  {{ xpos  }}
		    Ypos ==>  {{ ypos  }}
		<br>
		<h3> Commands </h3>
			Move ==> 
			<a href="/MOVE/Up" class="button">Up</a>  
			<a href="/MOVE/Down"class="button">Down</a>  
			
		
			<a href="/MOVE/Left" class="button">Left</a>  
	
			<a href="/MOVE/Right" class="button">Right</a>  
			
			</h4>
   </body>
</html>